.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.InputHolder {
  width: 35%;
}
#weatherReport {
  width: 100%;
  visibility: hidden;
}
#weatherReport small {
  text-align: center;
}
.weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  background-color: rgb(33, 32, 32);
  color: white;
}
